<div class=" gg p-3 ">
  <h1 class="text-center m-2">Tree Clasifier</h1>

  <div class="text-center m-5 ">
    <div class="d-flex justify-content-center align-items-center mb-3">
      <input class="w-25" type="file" accept="image/*" (change)="onImageChange($event)" />
      <button class="btn btn-info" (click)="predict()" [disabled]="!selectedImage">Predict</button>
    </div>

    <div class="m-2" *ngIf="imagePreview">
      <img [src]="imagePreview" alt="Preview" style="max-height: 300px;" />
    </div>

    <div class="" *ngIf="predictions.length > 0" style="margin-top: 20px;">
      <h3 class="">Predictions:</h3>
      <div *ngFor="let p of predictions">
        {{ p.tagName }}: {{ (p.probability * 100) | number:'1.0-2' }}%
      </div>
  </div>
  </div>

</div>
