.gg
{
    height:100vh;
    width: 100vw;
    background: linear-gradient(181deg, rgba(60, 190, 92, 0.63), rgba(201, 204, 184, 0.96));
    -webkit-background: linear-gradient(181deg, rgba(60, 190, 92, 0.63), rgba(201, 204, 184, 0.96));
    -moz-background: linear-gradient(181deg, rgba(60, 190, 92, 0.63), rgba(201, 204, 184, 0.96));
}
h1,h3
{
    color: rgb(53 42 51);
}
.btn-info
{
    background-color: #5b5b60;
    color:#ebfcff;
    border-color: #ebfcff;
}